.my_card {
  width: calc(20% - 10px);
  height: 300px;
  margin: 80px 5px;
}

.my_card .my_thumb {
  width: 100%;
}

.my_card .my_thumb img {
  width: 100%;
}

.my_card .my_text {
  width: 100%;
  height: 200px;
  color: white;
}

.my_card .btn {
  background-color: #0E7CEC;
}

